<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bluesky Reddit</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/bluesky_logo.png" type="image/x-icon">
  </head>
  <body>
    <main>
            <div class="modal-overlay" id="login-modal">
              <div class="modal-content">
                <button class="modal-close" id = "close-login-button">x</button>
                  <div class="modal-title">Bluesky Custom Feed Generator</div>
                  <p>If you have a Bluesky account, enter your login information. Or you can just use the demo credentials.</p>
                  <form method="POST">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" class="input-field" name="username" value="demo-bluesky-acc.bsky.social"><br>
                    <label for="password">Password:</label><br>
                    <input type="text" id="password" class="input-field" name="password" value="Bluesky#1!">
                    <div>
                      <button class="button" id = "press-button" type="submit">Login</button>
                    </div>
                  </form>
              </div>
            </div>

            <div class="modal-overlay" id="welcome-modal">
              <div class="modal-content">
                <button class="modal-close" id = "close-modal-button">x</button>
                  <div class="modal-title">Bluesky Custom Feed Generator</div>
                  <p>Bluesky is a decentalized and open-source alternative to X. The purpose of this web app is to demonstrate one of 
                    Bluesky's core features: creating your own feed. </p>
                  <button class="button" id = "submit-button">Continue</button>
              </div>
            </div>
    </main>
    <script src="../static/js/index.js"></script>
  </body>
</html>