<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bluesky Reddit</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/bluesky_logo.png" type="image/x-icon">
  </head>
  <body>
    <main>
      <div id = "card">
        <div id = "top-rectangle">
            <div id = "name"><img src = "../static/images/bluesky_logo.png" id = "bluesky-logo"/>Bluesky Custom Feed Generator<button class = "button" id = "add-button">Add Component + </span></div>
        </div>
        <div id = "bottom-rectangle">
          <div id="posts-container"></div>

            <!-- add expanding bricks animation back (should be quick, already have the css for it) -->

            <div class="modal-overlay add-component-modal-overlay" id="add-component-modal">
                <div class="modal-content">
                  <button class="modal-close" id = "close-modal-button">x</button>
                    <div class="modal-title add-component-modal-title">Add Components</div>
                    <form method="POST">
                        <label for="account">Account:</label><br>
                        <input type="text" id="account" class="input-field" name="account"><button class="add-component-button" id="add-account-button">Add + </button><br>
                        <div id = "added-components-container">
                        </div>
                        <label for="hashtag">Hashtag:</label><br>
                        <input type="text" id="hashtag" class="input-field" name="hashtag"><button class="add-component-button" id="add-hashtag-button">Add + </button><br>
                        <label for="keyword">Keyword:</label><br>
                        <input type="text" id="keyword" class="input-field" name="keyword"><button class="add-component-button" id="add-keyword-button">Add + </button><br>
                        <label for="photo-attachment">Photo Attachment:</label>
                        <input type="checkbox" id="photo-attachment" name="photo-attachment">
                        <label for="video-attachment">Video Attachment:</label>
                        <input type="checkbox" id="video-attachment" name="video-attachment">
                        <div>
                            <button class="button" id = "apply-changes-button" type="submit">Apply Changes</button>
                        </div>
                    </form> 
                </div>
            </div>

        </div>
    </div> 
    </main>
    <script src="../static/js/postlogin.js"></script>
  </body>
</html>